<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <menuitem
        id="treasury_main_menu"
        name="Tesorería"
        groups="group_account_treasury_user"
        web_icon="l10n_treasury,static/description/icon.png"
        sequence="60"/>

</odoo>

<!-- vim:expandtab:smartindent:tabstop=4:softtabstop=4:shiftwidth=4-->
