<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>

        <menuitem
            id="access_menu"
            name="Accesos"
            groups="partner_access.group_access_user"
            web_icon="partner_access,static/description/icon.png"/>

        <menuitem
            id="access_general_menu"
            name="General"
            parent="access_menu"
        />

        <menuitem
            id="access_config_menu"
            name="Configuracion"
            parent="access_menu"
            groups="partner_access.group_access_manager"
        />

    </data>
</odoo>

<!-- vim:expandtab:smartindent:tabstop=4:softtabstop=4:shiftwidth=4-->
